<div class="w-full py-6 px-3">
  <div class="border bg-white shadow-lg rounded-lg overflow-hidden">
    {{ "product-1" | placeholder_svg_tag: 'w-full h-80 object-vover bg-gray-100' }}

    <div class="flex flex-col p-4">
      <span class="text-sm text-gray-400">Vendor</span>
      <span class="text-lg uppercase font-medium text-gray-700">Placeholder Title</span>
      <span class="text-base uppercase text-gray-500">{{ '9999' | money }}</span>
    </div>
  </div>
</div>